{% extends "layout.html" %}
{% block body %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

      <div class="main-table" >
        <p>Category camparision - Month over Month</p>
<div style=" font:.font-20;padding-left:0; padding-right:0; top:60px; left:600px; width:400px; height:400px; color: white;">
<canvas id="line-chart" width="800" height="450"></canvas>

         <script >
             new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    labels : [{% for item in labels %}
                  "{{item}}",
              {% endfor %}],
    datasets: [{ 
        data : [{% for item in values1 %}
                      {{item}},
                    {% endfor %}],
        label: "current month",
        borderColor: "#3e95cd",
        fill: false
      }, { 
        data : [{% for item in values2 %}
                      {{item}},
                    {% endfor %}],
        label: "last month",
        borderColor: "#8e5ea2",
        fill: false
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'Gazoline spend month over month'
    }
  }
});



             
         </script>
        
</div>
        
<hr size="pixels">

        <p>Income vs Outcome - month over month </p>
        <div style=" font:.font-20;padding-left:0; padding-right:0; top:60px; left:600px; width:400px; height:400px; color: white;">
        <canvas id="bar-chart-grouped" width="800" height="450"></canvas>
        <script src="/static/js/spendchart.js" type="text/javascript" charset="utf-8" ></script>
    


              
         <canvas id="canvas" height="450" width="450"></canvas>
         <script src="/static/js/chart3.js" type="text/javascript" charset="utf-8" ></script>
           

        </div>

     

    <hr size="pixels">


       </div>
       
                    
                        
                    </div>
            
            
        </div>

{% endblock %}