<!DOCTYPE html>
<html>
    <head>
        <title>SAVORY</title>
        <link  href="/static/css/main.css" rel="stylesheet" >
        <link  href="/static/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" >
        <script src="https://use.fontawesome.com/e80d0149e1.js"></script>

        <!-- Boostrap   -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
         <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>


        <!-- for profile    -->
        <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
        <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
          


                
    </head>
    <body>
        <div  class="header">
            <div class="menu">
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('profile') }}">Profile</a></li>
                    <li><a href="{{ url_for('analyze') }}">Analyze</a>
                    <li><a href="{{ url_for('masswiz') }}">mass wiz</a>
                    <li><a href="{{ url_for('logout') }}"><i class="fa fa-power-off"></i></a></li>
                </ul>
            </div>
        </div>  
        
        {% block body %}{% endblock %}
           
        
        
    </body>
</html>