{% extends "layout.html" %}
{% block body %}
      <div class="main-table" >
        <p>Last Transactions</p>

         <script src="/static/js/initialise.js" type="text/javascript" charset="utf-8" async defer></script>

        <table id="example" class="display" cellspacing="0" width="100%">

        <thead>
            <tr>
                <th>Date</th>
                <th>Action</th>
                <th>Catigory</th>
                <th>Amount</th>
                
            </tr>
        </thead>
        <hr size="pixels">

        <tfoot>
            <tr>
                <th>18/1/2018</th>
                <th>outcome</th>
                <th>hangouts</th>
                <th>500</th>
             
            </tr>
            <tr>
                <th>15/1/2018</th>
                <th>outcome</th>
                <th>Restaurant</th>
                <th>1000</th>
                
            </tr>
            <tr>
                <th>10/1/2018</th>
                <th>income</th>
                <th>Salary</th>
                <th>5000</th>
              
            </tr>
            <tr>
                <th>5/1/2018</th>
                <th>outcome</th>
                <th>hangouts</th>
                <th>500</th>
                
            </tr>
        </tfoot>
    </table>
<hr size="pixels">

        <p>Spend distribution - current month </p>
        <div style=" font:.font-20;padding-left:0; padding-right:0; top:60px; left:600px; width:400px; height:400px; color: white;">
        <canvas id="myChart" width="100" height="300"></canvas>
        <script src="/static/js/spendchart.js" type="text/javascript" charset="utf-8" ></script>
    

<!--
        <p>incomes vs outcomes - current month </p>
              
         <canvas id="canvas" height="450" width="450"></canvas>
         <script src="/static/js/pichart.js" type="text/javascript" charset="utf-8" ></script>
           


    --> 
        </div>

    <hr size="pixels">


        <div class="main-home-update">
            
                <form class="main-home-container" method="POST" enctype=multipart/form-data action ="{{ url_for('upload') }}">
                    
                    <div class="statement">
                        <h2>Upload your bank and credit card statement</h2>
                        <p><b>Choose Month and Year of the statements:</b></p>
                        <input type="month" id="myMonth" value="2018-01" name="month">
                
                        <p><b>Upload CSV files only</b></p>
                
                        <p><b>Bank statement:</b>
                        <input type="file" name="bank_file"></p>
                        <button class="button" type="submit">Submit</button>
                
                        <p><b>Credit card number's last 4 digits:</b>
                        <input type="text" id="card_number" name="credit_card_number"></p> 
                
                        <b>Credit card statement:</b>
                        <input type="file" name="card_file"></br>
                        <button class="button" type="submit">Submit</button>

                    </div>
                </form>
                    <hr size="pixels">
                    <form class="main-home-container" method="POST" enctype=multipart/form-data action ="{{ url_for('save') }}">
                    <div class="lets-save-money">
                        <h2>lets save some money</h2>
                        <p>Please enter the amount of money you would like to save and we'll keep track of it for you</p>
                        <p>we'll let you know when you hit the target, START SAVING !!!</p>
                
                        <input type="text" id="save_money" name="wanted_amount">
                
                        <button class="button" type="submit">Submit</button>
                    </div>
                </form>
                     <hr size="pixels">
                    <form class="main-home-container" method="POST" enctype=multipart/form-data action ="{{ url_for('manual') }}">
                    <div class="manual-upload">
                        
                        <h2>Update your balance</h2>                        
                        <form>
                            <table>
                                <tr>
                                    <td>Date:</td>
                                    <td><input type="date"></td>
                                </tr>
                                <tr>
                                    <td>Amount:</td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <div>
                                        <input type="radio" id="balanceChoice1"
                                               name="balance" value="income">
                                        <label for="contactChoice1">Income</label>
                                        <input type="radio" id="balanceChoice2"
                                               name="balance" value="outcome">
                                        <label for="contactChoice2">Outcome</label>
                                    </div>
                                </tr>
                                <tr>
                                    <div>
                                        <input type="radio" id="transferChoice1"
                                                name="transfer" value="cash">
                                        <label for="transferChoice1">Cash</label>
                                        <input type="radio" id="transferChoice2"
                                                name="transfer" value="credit">
                                        <label for="transferChoice2">Credit</label>
                                        <input type="radio" id="transferChoice3"
                                                name="transfer" value="bank">
                                        <label for="transferChoice3">Bank Transfer</label>
                                    </div>
                                </tr>
                                <tr>
                                    <div class="balance-dropdown">
                                        <select name="balance-category">
                                            <option value="1">Gazoline</option>
                                            <option value="2">Supermarket</option>
                                            <option value="3">restaurant</option>
                                            <option value="4">hangouts</option>
                                            <option value="5">drugs</option>
                                            <option value="6">water bill</option>
                                            <option value="7">electric bill</option>
                                            <option value="8">rent</option>
                                            <option value="9">clothes</option>
                                            <option value="10">vacation</option>
                                            <option value="11">gifts</option>
                                            <option value="12">health care</option>
                                            <option value="13">sports</option>
                                            <option value="14">pleasure</option>
                                            <option value="15">other</option>
                                        </select>
                                    </div>
                                </tr>
                            </table>
                            <button class="button" type="submit">Submit</button>
                        </form>
                    </div>
            
            
        </div>

{% endblock %}