{% extends "layout.html" %}
{% block body %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

      <div class="main-table" >
        <p>Category camparision - with people like you</p>
<div style=" font:.font-20;padding-left:0; padding-right:0; top:60px; left:600px; width:400px; height:400px; color: white;">
<canvas id="bar-chart-horizontal" width="800" height="450"></canvas>


         <script src="/static/js/chart4.js" type="text/javascript" charset="utf-8" ></script>
        
</div>
        
<hr size="pixels">



       </div>
       

                    
                        
                    </div>
            
            
        </div>
{% endblock %}