{% extends "layout.html" %}
{% block body %}

        
<div class="prof-cont">
        <div class="profile-edit">
            <form action="#" method="post">
                <table>
                        <tr>
                            <td>First Name: </td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>Last Name: </td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>City: </td>
                            <td><input type="text"></td>
                        </tr>
                </table>
                <p>Please select your family status:</p>
                <div class="family-status">
                    <input type="radio" id="familyChoice1"
                    name="family" value="single">
                    <label for="statusChoice1">Single</label>
                    <input type="radio" id="familyChoice2"
                    name="family" value="married">
                    <label for="statusChoice2">Married</label>
                    <input type="radio" id="familyChoice3"
                    name="family" value="marriedPlus">
                    <label for="statusChoice3">Married With Children</label>
                </div>

                <p>Please select your living conditions:</p>
                <div class="living-conditions">
                    <input type="radio" id="livingChoice1"
                    name="living" value="alone">
                    <label for="livingChoice1">Alone</label>
                    <input type="radio" id="livingChoice2"
                    name="living" value="couple">
                    <label for="livingChoice2">With a partner</label>
                    <input type="radio" id="livingChoice3"
                    name="living" value="roomates">
                    <label for="livingChoice3">With roomates</label>
                </div>

                <p>Select number of people living with yourself if relevant: </p>
                <div class="people-num">
                    <select name="people-num">
                        <option value="1">0</option>
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                        <option value="5">4</option>
                        <option value="6">5</option>
                        <option value="7">6</option>
                        <option value="8">7 and above</option>
                    </select>
                </div>

                <p>Please select your employment precentage:</p>
                <div class="employment-status">
                    <select name="job-percent">
                        <option value="1">0% (Unemployed)</option>
                        <option value="2">25%</option>
                        <option value="3">50%</option>
                        <option value="4">75%</option>
                        <option value="5">100%</option>
                    </select>
                </div>

                <p>Age:</p>
                <div class:"birth-day">
                    <input type="text" name="bday">
                </div>

                <div>
                    <button class="button" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}